<!-- Start Header -->
<ion-header no-border >
  <ion-navbar color="white" padding-top>
    <ion-row justify-content-center>
      <ion-col col-4>
        <ion-buttons start *ngIf='arrowLeft!="none"'>
          <button ion-button icon-left (click)="prev()">
            <ion-icon name="arrow-back"></ion-icon>
            {{arrowLeft}}
          </button>
        </ion-buttons>
      </ion-col>
      <ion-col col-4 text-center>
        <ion-title>
          <h1 ion-text no-margin color="primary">Register</h1>
        </ion-title>
      </ion-col>
      <ion-col col-4>
        <ion-buttons end *ngIf='arrowRight!="none"'>
          <button ion-button icon-right (click)="next()">
            {{arrowRight}}
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>
<!-- End Header -->

<!-- Start Content -->
<ion-content>
  <!-- Slides-->
  <ion-slides #signUpSlider (ionSlideWillChange)="onSlideChange($event)">
    <!-- Start Slide Register 1 -->
    <ion-slide>
      <!-- Slide Title Bar -->
      <ion-row>
        <ion-col no-padding col-4>
          <hr class="page-mark-dark">
          <p class="register-titles"> Identification </p>
        </ion-col>
        <ion-col no-padding col-4>
          <hr class="page-mark-light">
        </ion-col>
        <ion-col no-padding col-4>
          <hr class="page-mark-light">
        </ion-col>
      </ion-row>
      <!-- End Slide Title Bar -->

      <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

      <ion-list no-lines>
      <!-- Form: Basics information "slideOneForm" -->
        <form [formGroup]="slideOneForm">
          <!-- Name -->
          <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input formControlName="firstName" type="text" [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)">
              <p>Please enter a valid name.</p>
          </ion-item>

          <!-- Lastname -->
          <ion-item>
              <ion-label floating>Last Name</ion-label>
              <ion-input formControlName="lastName" type="text" [class.invalid]="!slideOneForm.controls.lastName.valid && (slideOneForm.controls.lastName.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.lastName.valid && (slideOneForm.controls.lastName.dirty || submitAttempt)">
              <p>Please enter a valid name.</p>
          </ion-item>

          <!-- Email -->
          <ion-item>
            <ion-label floating>Email address</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
            <sub>We'll never give the address to ....</sub>
          </ion-item>
          <!-- Telephone -->
          <ion-item>
            <ion-label floating>Telephone</ion-label>
            <ion-input formControlName="telephone" type="tel"></ion-input>
          </ion-item>

          <!-- Gender -->
          <ion-item>
              <ion-label floating>Gender</ion-label>
              <ion-select [class.invalid]="!slideOneForm.controls.gender.valid && (slideOneForm.controls.gender.dirty || submitAttempt)" formControlName="gender">
                  <ion-option value="public" checked="true">Female</ion-option>
                  <ion-option value="friends">Male</ion-option>
                  <ion-option value="private">Other</ion-option>
              </ion-select>
          </ion-item>

          <!-- Date of birth -->
          <ion-item>
            <ion-label floating>Date of birth</ion-label>
            <ion-datetime displayFormat="MMMM DD, YYYY" pickerFormat="MMMM DD YYYY"></ion-datetime>
          </ion-item>

          <!-- Submit button -->
          <div class="text-center">
            <button ion-button round>Save</button>
          </div>
        </form>
        <!-- End Form: Basics information -->
      </ion-list>

    </ion-slide>
    <!-- End Slide Register 1 -->

    <!-- Start Slide Register 2 -->
    <ion-slide>
      <ion-list no-lines>
        <!-- Slide Title Bar -->
        <ion-row>
          <ion-col no-padding col-4>
            <hr class="page-mark-dark">
          </ion-col>
          <ion-col no-padding col-4>
            <hr class="page-mark-dark">
            <p class="register-titles"> Medical Providers </p>
          </ion-col>
          <ion-col no-padding col-4>
            <hr class="page-mark-light">
          </ion-col>
        </ion-row>
        <!-- End Slide Title Bar -->
        <!-- Form: Medical Providers information -->
        <form [formGroup]="slideTwoForm">

          <!-- Privacy -->
          <ion-item>
              <ion-label floating>Hospital</ion-label>
              <ion-select [class.invalid]="!slideTwoForm.controls.privacy.valid && (slideTwoForm.controls.privacy.dirty || submitAttempt)" formControlName="privacy" #selectedHospital>
                  <ion-option value="public" checked="true">Public</ion-option>
                  <ion-option value="friends">Friends Only</ion-option>
                  <ion-option value="private">Private</ion-option>
                  <ion-option value="public" checked="true">Public</ion-option>
                  <ion-option value="friends2">Friends Only</ion-option>
                  <ion-option value="private2">Private</ion-option>
                  <ion-option value="other">Other</ion-option>
              </ion-select>
          </ion-item>

          <ion-item *ngIf='selectedHospital.value == "other"'>
              <br />
              <ion-input type="text" placeholder="Please enter your hospital"></ion-input>
          </ion-item>

          <!-- Username -->
          <ion-item>
              <ion-label floating>Personnal doctor</ion-label>
              <ion-input [class.invalid]="!slideTwoForm.controls.username.valid && (slideTwoForm.controls.username.dirty || submitAttempt)" formControlName="username" type="text"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.controls.username.valid && (slideTwoForm.controls.username.dirty || submitAttempt)">
              <p>Sorry, that username can not be used!</p>
          </ion-item>

          <!-- Bios -->
          <ion-item>
              <ion-label floating>Bio</ion-label>
              <ion-textarea formControlName="bio"></ion-textarea>
          </ion-item>
        </form>
        <!-- End Form: Medical Providers information -->
      </ion-list>
      <!-- Submit button -->
      <button ion-button full color="primary" (click)="save()">Create Account!</button>
    </ion-slide>
    <!-- End Slide Register 2 -->

    <!-- Start Slide Register 3 -->
    <ion-slide>
      <ion-list no-lines>
        <!-- Slide Title Bar -->
        <ion-row>
          <ion-col no-padding col-4>
            <hr class="page-mark-dark">
          </ion-col>
          <ion-col no-padding col-4>
            <hr class="page-mark-dark">
          </ion-col>
          <ion-col no-padding col-4>
            <hr class="page-mark-dark">
            <p class="register-titles"> Health problems </p>
          </ion-col>
        </ion-row>
        <!-- End Slide Title Bar -->
        <!-- Form: Health problems information -->
        <form [formGroup]="slideThreeForm">
          <!-- Bios -->
          <ion-item>
              <ion-label floating>Biolo</ion-label>
              <ion-textarea formControlName="biolo"></ion-textarea>
          </ion-item>
        </form>
        <!-- End Form: Health problems information -->
      </ion-list>
      <!-- Submit button -->
      <button ion-button full color="primary" (click)="save()">Create Account!</button>
    </ion-slide>
    <!-- End Slide Register 3 -->

  </ion-slides> <br/>
  <!-- End Slides -->

</ion-content>
<!-- End Content -->
