<!-- Start Header -->
<ion-header no-border >
  <ion-navbar color="white" padding-top>
    <ion-title text-center>
      <h1 ion-text color="primary">Register</h1>
    </ion-title>
    <ion-buttons start>
      <button ion-button icon-left (click)="prev()"><ion-icon name="arrow-back"></ion-icon> Prev</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-right (click)="next()">Next <ion-icon name="arrow-forward"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<!-- End Header -->

<!-- Start Content -->
<ion-content>
  <!-- Slides-->
  <ion-slides #signUpSlider pager>
    <!-- Start Slide Register 1 -->
    <ion-slide>
      <!-- Slide Title Bar -->
      <ion-row>
        <ion-col no-padding col-xs-4>
          <hr class="page-mark-dark">
          <p class="register-titles"> Identification </p>
        </ion-col>
        <ion-col no-padding col-xs-4>
          <hr class="page-mark-light">
        </ion-col>
        <ion-col no-padding col-xs-4>
          <hr class="page-mark-light">
        </ion-col>
      </ion-row>
      <!-- End Slide Title Bar -->

      <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>

      <ion-list no-lines>
      <!-- Form: Basics information "slideOneForm" -->
        <form [formGroup]="slideOneForm">
          <!-- Name -->
          <ion-item>
            <ion-label floating>First Name</ion-label>
            <ion-input formControlName="firstName" type="text" [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)">
              <p>Please enter a valid name.</p>
          </ion-item>
          <!--
          <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input formControlName="firstName" type="text" [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)"></ion-input>
            </ion-item>

            <ion-item *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty || submitAttempt)">
                <p>Please enter a valid name.</p>
            </ion-item>
          -->
          <!-- Lastname -->
          <ion-item>
              <ion-label floating>Last Name</ion-label>
              <ion-input formControlName="lastName" type="text" [class.invalid]="!slideOneForm.controls.lastName.valid"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideOneForm.controls.lastName.valid">
              <p>Please enter a valid name.</p>
          </ion-item>

          <!-- Email -->
          <ion-item>
            <ion-label floating>Email address</ion-label>
            <ion-input formControlName="email" type="text"></ion-input>
            <sub>We'll never give the address to ....</sub>
          </ion-item>
          <!-- Telephone -->
          <ion-item>
            <ion-label floating>Telephone</ion-label>
            <ion-input formControlName="telephone" type="number"></ion-input>
          </ion-item>
          <!-- Date of birth -->
          <ion-item>
            <ion-label floating>Date of birth</ion-label>
            <ion-datetime displayFormat="MMMM DD, YYYY" pickerFormat="MMMM DD YYYY"></ion-datetime>
          </ion-item> <br />
          <!-- Gender -->
          <ion-list radio-group>
            <ion-row>
              <ion-col col-sm-4>
                <ion-item>
                  <ion-label>Female</ion-label>
                  <ion-radio value="friends"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-sm-4>
                <ion-item>
                  <ion-label>Male</ion-label>
                  <ion-radio value="family"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col col-sm-4>
                <ion-item>
                  <ion-label>Other</ion-label>
                  <ion-radio value="enemies"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
          <!-- End Gender -->
          <!-- Submit button -->
          <div class="text-center">
            <button ion-button round>Save</button>
          </div>
        </form>
        <!-- End Form: Basics information -->
      </ion-list>
    </ion-slide>
    <!-- End Slide Register 1 -->

    <!-- Start Slide Register 2 -->
    <ion-slide>
      <ion-list no-lines>
        <!-- Form: Medical Providers information -->
        <form [formGroup]="slideTwoForm">
          <!-- Username -->
          <ion-item>
              <ion-label floating>Username</ion-label>
              <ion-input [class.invalid]="!slideTwoForm.controls.username.valid" formControlName="username" type="text"></ion-input>
          </ion-item>

          <ion-item *ngIf="!slideTwoForm.controls.username.valid">
              <p>Sorry, that username can not be used!</p>
          </ion-item>

          <!-- Privacy -->
          <ion-item>
              <ion-label floating>Privacy</ion-label>
              <ion-select [class.invalid]="!slideTwoForm.controls.privacy.valid" formControlName="privacy">
                  <ion-option value="public" checked="true">Public</ion-option>
                  <ion-option value="friends">Friends Only</ion-option>
                  <ion-option value="private">Private</ion-option>
              </ion-select>
          </ion-item>
          <!-- Bios -->
          <ion-item>
              <ion-label floating>Bio</ion-label>
              <ion-textarea formControlName="bio"></ion-textarea>
          </ion-item>
        </form>
        <!-- End Form: Medical Providers information -->
      </ion-list>
      <!-- Submit button -->
      <button ion-button full color="primary" (click)="save()">Create Account!</button>
    </ion-slide>
    <!-- End Slide Register 2 -->

  </ion-slides>
  <!-- End Slides -->

</ion-content>
<!-- End Content -->
