page-ambulance {

  .page-mark-light{
    border-top: 5px solid #ffcdd2;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .page-mark-dark{
    border-top: 5px solid #b71c1c;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .register-titles-dark{
    text-align: center;
    text-transform: uppercase;
    color:#b71c1c ;
  }

  .register-titles-light{
    text-align: center;
    text-transform: uppercase;
    color:#ffcdd2 ;
  }

}
