page-who {

  .page-mark-light{
    border-top: 5px solid #ffcdd2;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .page-mark-dark{
    border-top: 5px solid #b71c1c;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .circle-btn {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 10%;
    margin-right:10%;
  }
}
