
page-register{

  //////// Progress bar /////////
  .page-mark-light{
    border-top: 3px solid #bde0fc;
    margin-bottom: 10px;
    margin-top: 0px;
  }
  .page-mark-dark{
    border-top: 3px solid #1c80d0;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .register-titles-dark{
    text-align: center;
    text-transform: uppercase;
    color:#1c80d0 ;
    font-size: .7em;
  }

  .register-titles-light{
    text-align: center;
    text-transform: uppercase;
    color:#bde0fc ;
    font-size: .7em;
  }

  ion-col, .white{
    background-color: #fff;
  }

  ion-grid, .progressbar {
    padding-top: 0px !important;
  }

  //////// Padding /////////

  form, .padding {
    padding-top: 10% !important;
  }

  /////// Font //////////

  p.small{
    font-size: .5em;
  }

  p.alertform{
    font-size: .7em;
  }

  p.invalid{
    font-size: .8em;
    color: #ea6153;
  }

  /////// Layout ///////

  #slideOne, .scroll-content {
    padding-bottom: 0px !important;
  }

  ion-slides {
    height: auto;
  }

}
